parameters:
	ignoreErrors:
		-
			message: "#^Default value of the parameter \\#2 \\$allowedFilters \\(Apfelfrisch\\\\QueryFilter\\\\CriteriaCollection\\<Apfelfrisch\\\\QueryFilter\\\\Criterias\\\\Criteria\\>\\) of method Apfelfrisch\\\\QueryFilter\\\\Adapters\\\\SimpleQueryParser\\:\\:parse\\(\\) is incompatible with type Apfelfrisch\\\\QueryFilter\\\\CriteriaCollection\\<Apfelfrisch\\\\QueryFilter\\\\Criterias\\\\Filter\\>\\.$#"
			count: 1
			path: src/Adapters/SimpleQueryParser.php

		-
			message: "#^Default value of the parameter \\#3 \\$allowedSorts \\(Apfelfrisch\\\\QueryFilter\\\\CriteriaCollection\\<Apfelfrisch\\\\QueryFilter\\\\Criterias\\\\Criteria\\>\\) of method Apfelfrisch\\\\QueryFilter\\\\Adapters\\\\SimpleQueryParser\\:\\:parse\\(\\) is incompatible with type Apfelfrisch\\\\QueryFilter\\\\CriteriaCollection\\<Apfelfrisch\\\\QueryFilter\\\\Criterias\\\\Sorting\\>\\.$#"
			count: 1
			path: src/Adapters/SimpleQueryParser.php
